# Github related env vars
APP_ID=
WEBHOOK_SECRET=development
PRIVATE_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# OpenAI API KEY
OPENAI_API_KEY=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

